.venv/
__pycache__/
*.py[cod]
data/raw/*
!data/raw/view1/
!data/raw/view2/
!data/raw/view3/
!data/raw/view4/
data/raw/view1/*
data/raw/view2/*
data/raw/view3/*
data/raw/view4/*
!data/raw/view1/.gitkeep
!data/raw/view2/.gitkeep
!data/raw/view3/.gitkeep
!data/raw/view4/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep
data/synthetic/crops/
*.pt
*.joblib
.DS_Store
